%table.table.table-striped
  %tbody
    %tr
      %th Beer
      %th Voter
      %th
      %th
    - poll.ballots.each do |ballot|
      %tr
        %td= "#{ballot.beer.display_name}"
        %td= ballot.user.username
        %td
          - if poll.open? && can?(:edit, ballot)
            = link_to "Edit", edit_ballot_path(ballot)
        %td
          - if poll.open? && can?(:delete, ballot)
            = link_to "Delete",
              ballot_path(ballot),
              method: :delete,
              data: { confirm: "Are you sure you want to delete your ballot?" }
