= link_to "Back", beers_path

%h1 All Votes
-poll = Poll.last
.row
  .col-xs-12
    =link_to 'previous', ballots_path, id: "previous_graph"
    =link_to 'next', ballots_path, id: "next_graph"
    .chart
      -poll_presenter = PollPresenter.new(poll)
      = pie_chart poll_presenter.piechart_data
      = poll_presenter.number_of_votes
    #previous-poll{ "data-poll_id" => poll.previous.id }
    #next-poll{ "data-poll_id" => Poll.first.id }
%table.table.table-striped
  %tbody
    %tr
      %th
        Keg
      %th
        Voter
    -@ballots.each do |ballot|
      %tr
        %td
          #{ ballot.beer.brand }
        %td
          #{ ballot.user.username }
        %td
          =link_to "Edit", edit_ballot_path(ballot)
        %td
          =link_to "Delete", ballot_path(ballot), method: :delete, data: { confirm: "Are you sure you want to delete you ballot?" }
