= link_to "< Back", beers_path

%h1 Vote for your favourite beer

= render "errors/error_messages", object: @ballot

= form_tag(ballots_path, method: :post) do
  = select_tag "beer_id", options_from_collection_for_select(@beers, "id", -> (beer) { "#{beer.display_name}" }), class: "form-control"

  .action-links
    = submit_tag "Vote", class: "btn"
