%h2 Choose Our Next Beer

%p
  Already voted? Check out our
  = succeed "." do
    = link_to "previously completed polls", polls_path

- if @poll
  - if @poll.ballots.any?
    - poll_presenter = PollPresenter.new(@poll)
    = poll_presenter.number_of_votes
    = render "shared/chart", poll: poll_presenter

    = render "ballots/ballots_table", poll: @poll
  - else
    %p Nobody has voted yet. Be the first to cast your vote!
- else
  %p There is no poll currently ongoing. Check back later.
