%h1 Poll history

- if can?(:manage, :all)
  = link_to "Create a poll", polls_path, method: :post

%table.table.table-striped
  %tbody
    %tr
      %th Winner
      %th Start
      %th End
      %th
      - if can?(:manage, :all)
        %th
        %th
    -@polls.each do |poll|
      %tr
        %td
          - if poll.winner
            = poll.winner.name
          - else
            No winner yet,
            = link_to "vote now", root_path
            !
        %td= poll.created_at.strftime("%m/%d/%Y")
        %td= poll.closed ? poll.ended_at.strftime("%m/%d/%Y") : nil
        %td
          - if poll.closed
            = link_to "Results", poll_path(poll)
        - if can?(:manage, :all)
          %td
            - if poll.closed
              = link_to "Reopen", poll_path(id: poll.id, closed: false), method: :patch
            - else
              = link_to "Finalize", poll_finalize_path(poll_id: poll.id), method: :patch
          %td
            = link_to "Delete", poll_path(poll), method: :delete, data: { confirm: "Are you sure you want to delete this poll?" }
