= link_to "Back", beers_path

%h1 Edit Beer's name

= render "errors/error_messages", object: @beer

= form_for @beer do |f|
  %p
    = f.label :change_name
    = f.text_field :brand, class: "form-control"

  %p.action-links
    = f.submit "Update", class: "btn btn-lg btn-default"
