= link_to "< Back", beers_path

%h1 Edit beer name

= render "errors/error_messages", object: @beer

= form_for @beer do |f|
  = render "form_fields", f: f

  %p.action-links
    = f.submit "Update", class: "btn"
