= link_to "Back", beers_path

%h1 Add New Beer

= render "errors/error_messages", object: @beer

= form_for @beer do |f|
  %p
    = f.label :brand
    = f.text_field :brand, class: "form-control"

  %p.action-links
    = f.submit "Add Beer", class: "btn btn-lg btn-default"
