= link_to "< Back", beers_path

%h1 Add a new beer to the beer list

= render "errors/error_messages", object: @beer

= form_for @beer do |f|
  = render "form_fields", f: f

  %p.action-links
    = f.submit "Add Beer", class: "btn"
