= link_to "< Back", beers_path

%h1 Add a new beer to the beer list

= render "errors/error_messages", object: @beer

= form_for @beer do |f|
  %p
    = f.label :name
    = f.text_field :name, class: "form-control"

  %p.action-links
    = f.submit "Add Beer", class: "btn"
